
resources (fx-ij) v1.2/AddressBook/.idea/workspace.xml
RecipeSearch/.idea/workspace.xml
RecipeSearch/.idea/

.idea/workspace.xml
RecipeSearch/.idea/uiDesigner.xml
RecipeSearch/.idea/libraries/lib.xml
